# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# VS Code
.vscode
.sonarlint

# local installed packages
bin/
boto3*/
botocore*/
dateutil/
docutils*/
jmespath*/
python_dateutil-2.8.0.dist-info/
s3transfer*/
six*/
six.py
urllib3*/

# archives
*.zip
